In [124]:
def get_lines(filename):
    file = open(filename, 'r+')
    lines = file.readlines()
    #
    lines = map(lambda line : line[:-1],lines)
    file.close()
    return lines

In [125]:
lines = get_lines('./tests/ejercicio1.txt')

In [126]:
import pandas as pd

In [127]:
syntax = pd.DataFrame(data=lines, columns=['line'])
syntax.head()

            line
0         Inicio
1          Lea n
2  Para i=1,n,+1
3  Para j=1,n,+1
4    Lea A(i,,j)

In [128]:
syntax["length"] = syntax["line"].map(lambda line: len(line))
syntax.head()

            line  length
0         Inicio       6
1          Lea n       5
2  Para i=1,n,+1      13
3  Para j=1,n,+1      13
4    Lea A(i,,j)      11

In [129]:
def get_type(line):
    #If not line.lower().find('x') returns true if x starts at line[0] 
    if not line.lower().find('inicio'):
        return "inicio"
    if not line.lower().find('pare'):
        return "pare"
    if not line.lower().find('para'):
        return "para"
    if not line.lower().find('lea'):
        return "lea"
    if not line.lower().find('esc'):
        return "esc"
    if not line.lower().find('fpara'):
        return "fpara"
    if not line.lower().find('sino'):
        return "sino"
    if not line.lower().find('si'):
        return "si"
    if not line.lower().find('fsi'):
        return "fsi"
    if line.lower().find('='):
        return "assignment"
    return "Indefinite so far"

syntax["type"] = syntax["line"].map(get_type)
syntax.head(len(syntax))

                   line  length        type
0                Inicio       6      inicio
1                 Lea n       5         lea
2         Para i=1,n,+1      13        para
3         Para j=1,n,+1      13        para
4           Lea A(i,,j)      11         lea
5                 Fpara       5       fpara
6                 Fpara       5       fpara
7         Para i=1,n,+1      13        para
8         Para j=1,n,+1      13        para
9           Lea B(i,,j)      11         lea
10                Fpara       5       fpara
11                Fpara       5       fpara
12                  s=0       3  assignment
13        Para i=1,n,+1      13        para
14           X=x+A(i,i)      10  assignment
15                Fpara       5       fpara
16                  x=0       3  assignment
17        Para i=1,n,+1      13        para
18        Para j=1,n,+1      13        para
19            Si (i==j)       9          si
20           x=x+B(i,j)      10  assignment
21                  Fsi       3         fsi
22                Fpara       5       fpara
23                Fpara       5       fpara
24             Si (x>s)       8          si
25     Esc “x es mayor”      16         esc
26                Esc x       5         esc
27                 sino       4        sino
28  Esc “x no es mayor”      19         esc
29                  Fsi       3         fsi
30                 Pare       4        pare

In [133]:
def process_for(line):
        lower_bound = line[7]
        upper_bound = line[9]
        increment = int(line[11:13])
        return {
            'lower_b' : lower_bound,
            'upper_b' : upper_bound,
            'inc' : increment
        }

In [147]:
def process_if(line):
    comparisons = [pos for pos, char in enumerate(line) if char == '(']
    return {
        'comparisons' : len(comparisons)
    }

In [148]:

def new_get_statement_runtime(syntax):
    lines_dict_list = lines = syntax.to_dict('records')
    order = 0
    for index in range(len(lines_dict_list)):
        line = lines[index]
        # print(line['type'])
        line_type = line['type']
        if line_type in ('inicio','pare','sino'):
            #order does not change
            line['runtime'] = 0
            # line['data'] = 'Control statement'
            line['order'] = order
        elif line_type in ("assignment",'lea','esc'):
            line['runtime'] = 1
            # line['data'] = 'Assignment i/o'
            line['order'] = order
        elif  line_type in ('fsi','fpara'):
            order -= 1
            line['runtime'] = 0
            # line['data'] = 'End of block'
            line['order'] = order
            
        elif line_type is 'para':
            line['runtime'] = 'Nan'
            line['data'] = process_for(line['line'])
            line['order'] = order
            order += 1
        elif line_type is 'si':
            line['runtime'] = 'Nan' #Number of comparisons + instructions inside
            line['data'] = process_if(line['line'])
            line['order'] = order
            order +=1
        # print(f'Line : {line}')

    
    return pd.DataFrame.from_dict(lines)

In [155]:
new_syntax = new_get_statement_runtime(syntax)
new_syntax.head(len(new_syntax))

,line,length,type,runtime,order,data
0,Inicio,6,inicio,0,0,NaN
1,Lea n,5,lea,1,0,NaN
2,"Para i=1,n,+1",13,para,Nan,0,"{'lower_b': '1', 'upper_b': 'n', 'inc': 1}"
3,"Para j=1,n,+1",13,para,Nan,1,"{'lower_b': '1', 'upper_b': 'n', 'inc': 1}"
4,"Lea A(i,,j)",11,lea,1,2,NaN
5,Fpara,5,fpara,0,1,NaN
6,Fpara,5,fpara,0,0,NaN
7,"Para i=1,n,+1",13,para,Nan,0,"{'lower_b': '1', 'upper_b': 'n', 'inc': 1}"
8,"Para j=1,n,+1",13,para,Nan,1,"{'lower_b': '1', 'upper_b': 'n', 'inc': 1}"
9,"Lea B(i,,j)",11,lea,1,2,NaN
10,Fpara,5,fpara,0,1,NaN
11,Fpara,5,fpara,0,0,NaN
12,s=0,3,assignment,1,0,NaN
13,"Para i=1,n,+1",13,para,Nan,0,"{'lower_b': '1', 'upper_b': 'n', 'inc': 1}"
14,"X=x+A(i,i)",10,assignment,1,1,NaN
15,Fpara,5,fpara,0,0,NaN
16,x=0,3,assignment,1,0,NaN
17,"Para i=1,n,+1",13,para,Nan,0,"{'lower_b': '1', 'upper_b': 'n', 'inc': 1}"
18,"Para j=1,n,+1",13,para,Nan,1,"{'lower_b': '1', 'upper_b': 'n', 'inc': 1}"
19,Si (i==j),9,si,Nan,2,{'comparisons': 1}
20,"x=x+B(i,j)",10,assignment,1,3,NaN
21,Fsi,3,fsi,0,2,NaN
22,Fpara,5,fpara,0,1,NaN
23,Fpara,5,fpara,0,0,NaN
24,Si (x>s),8,si,Nan,0,{'comparisons': 1}
25,Esc “x es mayor”,16,esc,1,1,NaN
26,Esc x,5,esc,1,1,NaN
27,sino,4,sino,0,1,NaN
28,Esc “x no es mayor”,19,esc,1,1,NaN
29,Fsi,3,fsi,0,0,NaN
30,Pare,4,pare,0,0,NaN

In [146]:
new_line = 'Si (i==j) y (j==1)'
process_if(new_line)

{'comparisons': [3, 12]}

In [194]:
def get_if_block_runtime(block_lines):
    runtime = 0
    for line in block_lines:
        runtime += line['runtime']
    return runtime

In [197]:
def get_if_blocks_runtime(syntax):
    lines_dict_list = lines = syntax.to_dict('records')
    if_indices = [pos for pos, line in enumerate(lines) if line['type'] is 'si']
    else_indices = [pos for pos, line in enumerate(lines) if line['type'] is 'sino']
    end_if_indices = [pos for pos, line in enumerate(lines) if line['type'] is 'fsi']
    # done = False

    #Let's begin by processing the ifs statements
    if_statements = []
    for x, if_index in enumerate(if_indices):
        #Find closing endif
        end_if_index = end_if_indices[x]
        #Is there an else?
        else_index = False
        for line_index in range(if_index,end_if_index):
            if  line_index in else_indices:
                else_index = line_index
                break
        # print((if_index,else_index,end_if_index))
        comparisons = lines[if_index]['data']['comparisons']
        if_runtime = comparisons
        if else_index:
            block_a = lines[if_index+1:else_index]
            block_b = lines[else_index+1: end_if_index]
            bloc_a_runtime = get_if_block_runtime(block_a)
            bloc_b_runtime = get_if_block_runtime(block_b)
            if_runtime += max(bloc_a_runtime,bloc_b_runtime)
        else:
            block = lines[if_index+1:end_if_index]
            bloc_runtime = get_if_block_runtime(block)
            if_runtime += bloc_runtime
        print((if_index,else_index,end_if_index,if_runtime))
        lines[if_index]['runtime'] = if_runtime
    return pd.DataFrame.from_dict(lines)


            

    # print('para',for_indices)
    # print('fpara',end_for_indices)
    # print('si',if_indices)
    # print('sino',else_indices)
    # print('fsi',end_if_indices)

In [199]:
syntax_with_ifs = get_if_blocks_runtime(new_syntax)
syntax_with_ifs.head(len(syntax_with_ifs))

(19, False, 21, 2)
(24, 27, 29, 3)

,line,length,type,runtime,order,data
0,Inicio,6,inicio,0,0,NaN
1,Lea n,5,lea,1,0,NaN
2,"Para i=1,n,+1",13,para,Nan,0,"{'lower_b': '1', 'upper_b': 'n', 'inc': 1}"
3,"Para j=1,n,+1",13,para,Nan,1,"{'lower_b': '1', 'upper_b': 'n', 'inc': 1}"
4,"Lea A(i,,j)",11,lea,1,2,NaN
5,Fpara,5,fpara,0,1,NaN
6,Fpara,5,fpara,0,0,NaN
7,"Para i=1,n,+1",13,para,Nan,0,"{'lower_b': '1', 'upper_b': 'n', 'inc': 1}"
8,"Para j=1,n,+1",13,para,Nan,1,"{'lower_b': '1', 'upper_b': 'n', 'inc': 1}"
9,"Lea B(i,,j)",11,lea,1,2,NaN
10,Fpara,5,fpara,0,1,NaN
11,Fpara,5,fpara,0,0,NaN
12,s=0,3,assignment,1,0,NaN
13,"Para i=1,n,+1",13,para,Nan,0,"{'lower_b': '1', 'upper_b': 'n', 'inc': 1}"
14,"X=x+A(i,i)",10,assignment,1,1,NaN
15,Fpara,5,fpara,0,0,NaN
16,x=0,3,assignment,1,0,NaN
17,"Para i=1,n,+1",13,para,Nan,0,"{'lower_b': '1', 'upper_b': 'n', 'inc': 1}"
18,"Para j=1,n,+1",13,para,Nan,1,"{'lower_b': '1', 'upper_b': 'n', 'inc': 1}"
19,Si (i==j),9,si,2,2,{'comparisons': 1}
20,"x=x+B(i,j)",10,assignment,1,3,NaN
21,Fsi,3,fsi,0,2,NaN
22,Fpara,5,fpara,0,1,NaN
23,Fpara,5,fpara,0,0,NaN
24,Si (x>s),8,si,3,0,{'comparisons': 1}
25,Esc “x es mayor”,16,esc,1,1,NaN
26,Esc x,5,esc,1,1,NaN
27,sino,4,sino,0,1,NaN
28,Esc “x no es mayor”,19,esc,1,1,NaN
29,Fsi,3,fsi,0,0,NaN
30,Pare,4,pare,0,0,NaN

In [200]:
# orders = []
# for line in lines:
#     orders.append(line['order'])
# max_order = max(orders)
# if max_order is 3:
#There exists at least a combination of two nested loops with an if
# for_indices = [pos for pos, line in enumerate(lines) if line['type'] is 'para']
# end_for_indices = [pos for pos, line in enumerate(lines) if line['type'] is 'fpara']